    {% extends "base.html" %}
    {% load static %}

    {% block content %}
		<!--Start Page Content -->
		<div class="service-page">
			<div class="service-heading">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">About Gorgeous Salon</h2>
								 <ul class="page-head-menu">
									<!--<li><i class="fa fa-home"></i><a class="home" href="about.html#"><span>Home</span></a></li>-->
									<!--<li>About us</li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!-- Start Service Area -->
		<div class="page-service-area area-padding ">
			<div class="container">
			   <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="section-headline text-center">
							<h3>About Us</h3>
							<p>Online Salon Management system is an online website for Gorgeous beauty salon which provides beauty services for females and clients can book appointment and review the services of the order using dashboards.</p>
						</div>
						<div class="our-service-inner">
							<div class="col-lg-6 col-md-6">
								<div class="service-pic">
                                    <div class="full-width-video-wrap embed-responsive embed-responsive-16by9">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/k3XsF-N4GO0" frameborder="0" allowfullscreen></iframe>
                                    </div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="srvice-info">
									<p>Using the system users or clients can view the services provided by salon and can book appointment through appointment booking page. On checkout time user can register or existing user can use their existing credentials proceed the checkout. Using booking section, Clients can view their upcoming beauty sessions.</p>

									<p>This system has administration section where admin can access all bookings, add/view/edit services to the booking portal. As of now, the system offers only booking options without any pre-payment.</p>
								</div>
							</div>
						</div>
					</div>    
				</div>
			</div>
		</div>
		<!-- Start Service Area -->
        <!-- Start testimonials end -->
        <div class="testimonial-area">
            <div class="well-bg">
                <div class="test-overly"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <div class="testimonial-content">
                                <!-- start testimonial carousel -->
                                <div class="testimonial-carousel">
                                    <div class="single-testi text-center">
                                        <div class="testi-img">
                                            <img src="{% static 'images/testimonial/test1.jpg' %}" alt="">
                                        </div>
                                        <div class="testi-text text-center">
                                            <p>I know who I am. I am not perfect. I'm not the most beautiful woman in the world. But I'm one of them.</p>
                                            <h6>Mary J. Blige</h6>
                                            <span class="guest-rev">Musician - <a href="index-2.html#">America</a></span>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                    <div class="single-testi text-center">
                                        <div class="testi-img">
                                            <img src="{% static 'images/testimonial/test2.jpg' %}" alt="">
                                        </div>
                                        <div class="testi-text text-center">
                                            <p>No matter what shape or size you are, you should feel confident in your own skin. You should feel like a beautiful woman, no matter what!</p>
                                            <h6>Joanna Krupa</h6>
                                            <span class="guest-rev">Model - <a href="index-2.html#">America</a></span>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                    <div class="single-testi text-center">
                                        <div class="testi-img">
                                            <img src="{% static 'images/testimonial/test3.jpg' %}" alt="">
                                        </div>
                                        <div class="testi-text text-center">
                                            <p>When virtue and modesty enlighten her charms, the lustre of a beautiful woman is brighter than the stars of heaven, and the influence of her power it is in vain to resist.</p>
                                            <h6>Akhenaton</h6>
                                            <span class="guest-rev">Statesman - <a href="index-2.html#">Egypt</a></span>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End testimonials end -->
        <!-- Start team Area -->
        <div class="our-team-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h3>Our special Team</h3>
                            <p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br/>  Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="team-member-full">
                            <div class="row">
                                {% for beautician in beauticians %}
                                <!-- Start single-team member -->
                                <div class="col-lg-3 col-md-3 col-sm-4">
                                    <div class="single-team-member">
                                        <div class="team-img">
                                            <a href="{% url 'beautician_details' beautician.id %}">
                                                {% if beautician.user.first_name == "prabha" %}
                                                    <img src="{% static 'images/team/team3.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
                                                {% elif beautician.user.first_name == "dipti" %}
                                                    <img src="{% static 'images/team/team4.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
                                                {% else %}
                                                    <img src="{% static 'images/team/team6.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
                                                {% endif %}
                                            </a>
                                            <div class="team-social-icon text-center">
                                                <ul>
                                                    {% if beautician.user.first_name == "prabha" %}
                                                        <li><a href="https://www.instagram.com/pemsss03/"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                                    {% elif beautician.user.first_name == "dipti" %}
                                                        <li><a href="https://www.instagram.com/pemsss03/"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                                    {% else %}
                                                        <li><a href="https://www.instagram.com/pemsss03/"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-content head-team">
                                            <h4>{{ beautician.user.first_name }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single-team member -->
                                {% endfor %}
                                <!--<div class="clear"></div>--><!--For fixed 4 beauticians per row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End our team Area -->
    {% endblock content %}
