		{% extends 'base.html' %}
		{% load static %}
		{% block content %}
		<!-- shop page area start -->
		<div class="blog-details-area">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Beautician</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="blog-details.html#"><span>Home</span></a></li>
									<li>Beautician</li>
									<li>Beautician Details</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!-- blog side start -->
		<div class="blog-det-page">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8">
						<!-- single-blog start -->
						<article class="blog-post-wrapper">
							<div class="post-thumbnail">
								<img src="{% static 'images/blog/bl1.jpg' %}" alt="" />
							</div>
							<div class="post-information">
								<h4>{{ beautician.user.first_name }} {{ beautician.user.last_name }}</h4>
								<div class="entry-meta">
									<span class="tag-meta">
										<i class="fa fa-folder-o"></i>
										<a href="blog-details.html#">Cutting</a>,
										<a href="blog-details.html#">Hair Styles</a>
									</span>
									<span>
										<i class="fa fa-tags"></i>
										<a href="blog-details.html#">Boy</a>,
										<a href="blog-details.html#"> Girl</a>,
										<a href="blog-details.html#">Baby</a>
									</span>
								</div>
								<div class="entry-content">
									<p>{{ beautician.experience_details }}</p>
									<!--<blockquote>-->
										<!--<p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus</p>-->
									<!--</blockquote>							-->
									<!--<p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu</p>-->
								</div>
							</div>
						</article>
						<div class="clear"></div>
						<!-- single-blog end -->
					</div>
				</div>	
			</div>	
		</div>
		<!-- shop area end -->
		{% endblock content %}
