		{% extends 'base.html' %}
		{% load static %}
		{% block content %}
		<!--Start Page Content -->
		<div class="page-content">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Blog</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="blog-single-post.html#"><span>Home</span></a></li>
									<li>Blog</li>
									<li>Blog Single post</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!--Start Blog Post Area -->
		<div class="blog-post single-blog-post">
			<div class="container">
				<div class="row">
					<!--Start Single Blog  -->
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 fix">
						<div class="single-blog text-left blog-mar">
							<div class="blog-thumb">
								<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">
							</div>
							<div class="blog-info">
								<h3 class="blog-heading"><a href="blog-single-post.html#">Title Post Here</a></h3>
								<div class="blog-post-dlc">
									<ul>
										<li>
											<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
										</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-heart"></i></a>17</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-comments-o"></i></a>2</li>
									</ul>
								</div>
								<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur id quaerat, architecto at non explicabo harum unde aliquam similique consectetur saepe cum ducimus quidem, illum adipisci velit impedit repudiandae.Lorem ipsum d, vero natus corporis laboriosam.</p>
								<a class="bloging-btn" href="blog-single-post.html#">Read more</a>
							</div>
						</div>
						<!--End Single Blog  -->
						<!--Start Single Blog  -->
						<div class="single-blog text-left blog-mar">
							<div class="blog-thumb">
								<img alt="blog img" src="{% static 'images/blog/bl2.jpg' %}">
							</div>
							<div class="blog-info">
								<h3 class="blog-heading"><a href="blog-single-post.html#">Title Post Here</a></h3>
								<div class="blog-post-dlc">
									<ul>
										<li>
											<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
										</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-heart"></i></a>17</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-comments-o"></i></a>2</li>
									</ul>
								</div>
								<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur id quaerat, architecto at non explicabo harum unde aliquam similique consectetur saepe cum ducimus quidem, illum adipisci velit impedit repudiandae.Lorem ipsum d, vero natus corporis laboriosam.</p>
								<a class="bloging-btn" href="blog-single-post.html#">Read more</a>
							</div>
						</div>
						<!--End Single Blog  -->
						<!--Start Single Blog  -->
						<div class="single-blog text-left blog-mar">
							<div class="blog-thumb">
								<img alt="blog img" src="{% static 'images/blog/bl3.jpg' %}">
							</div>
							<div class="blog-info">
								<h3 class="blog-heading"><a href="blog-single-post.html#">Title Post Here</a></h3>
								<div class="blog-post-dlc">
									<ul>
										<li>
											<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
										</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-heart"></i></a>17</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-comments-o"></i></a>2</li>
									</ul>
								</div>
								<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur id quaerat, architecto at non explicabo harum unde aliquam similique consectetur saepe cum ducimus quidem, illum adipisci velit impedit repudiandae.Lorem ipsum d, vero natus corporis laboriosam.</p>
								<a class="bloging-btn" href="blog-single-post.html#">Read more</a>
							</div>
						</div>
						<!--End Single Blog  -->
						<!--Start Single Blog  -->
						<div class="single-blog text-left blog-mar">
							<div class="blog-thumb">
								<img alt="blog img" src="{% static 'images/blog/bl4.jpg' %]">
							</div>
							<div class="blog-info">
								<h3 class="blog-heading"><a href="blog-single-post.html#">Title Post Here</a></h3>
								<div class="blog-post-dlc">
									<ul>
										<li>
											<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
										</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-heart"></i></a>17</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-comments-o"></i></a>2</li>
									</ul>
								</div>
								<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur id quaerat, architecto at non explicabo harum unde aliquam similique consectetur saepe cum ducimus quidem, illum adipisci velit impedit repudiandae.Lorem ipsum d, vero natus corporis laboriosam.</p>
								<a class="bloging-btn" href="blog-single-post.html#">Read more</a>
							</div>
						</div>
						<!--End Single Blog  -->
						<!--Start Single Blog  -->
						<div class="single-blog text-left blog-mar">
							<div class="blog-thumb">
								<img alt="blog img" src="{% static 'images/blog/bl5.jpg' %}">
							</div>
							<div class="blog-info">
								<h3 class="blog-heading"><a href="blog-single-post.html#">Title Post Here</a></h3>
								<div class="blog-post-dlc">
									<ul>
										<li>
											<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
										</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-heart"></i></a>17</li>
										<li><a href="blog-single-post.html#"><i class="fa fa-comments-o"></i></a>2</li>
									</ul>
								</div>
								<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur id quaerat, architecto at non explicabo harum unde aliquam similique consectetur saepe cum ducimus quidem, illum adipisci velit impedit repudiandae.Lorem ipsum d, vero natus corporis laboriosam.</p>
								<a class="bloging-btn" href="blog-single-post.html#">Read more</a>
							</div>
						</div>
						<!-- Start pagination -->
						<div class="clear"></div>
						<div class="blog-pagination single-pagi">
							<ul class="pagination">
								<li><a href="blog-single-post.html#">&lt;</a></li>
								<li class="active"><a href="blog-single-post.html#">1</a></li>
								<li><a href="blog-single-post.html#">2</a></li>
								<li><a href="blog-single-post.html#">3</a></li>
								<li><a href="blog-single-post.html#">4</a></li>
								<li><a href="blog-single-post.html#">&gt;</a></li>
							</ul>
						</div>
					</div>
					<!--End Single Blog  -->
					<!-- start sideber -->
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 fix">
						<!-- Left Sidebar-->
						<div class="left-sidebar right-sidebar">
							<div class="left-sidebar-title">
								<h4>Bloging options</h4>
							</div>
							<div class="widget widget-categories">
								<h5 class="sidebar-title">Recent Post</h5>
								<div class="widget-item">
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog001.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->	
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog002.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->	
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog003.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog004.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->		
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog005.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->							
								</div>			
							</div>
							<div class="left-sidebar-title">
								<div class="layout-title bottom-tag">
								    <h5 class="sidebar-title">Popular Tags</h5>
									<div class="shop-layout">
										<div class="popular-tag">
											<div class="tag-list">
												<ul>
													<li><a href="blog-single-post.html#">Hair</a></li>
													<li><a href="blog-single-post.html#">Style</a></li>
													<li><a href="blog-single-post.html#">Cutting</a></li>
													<li><a href="blog-single-post.html#">Celebrity</a></li>
													<li><a href="blog-single-post.html#">Mackup</a></li>
													<li><a href="blog-single-post.html#">Styles</a></li>
													<li><a href="blog-single-post.html#">Men</a></li>
													<li><a href="blog-single-post.html#">Women</a></li>
													<li><a href="blog-single-post.html#">Cutting</a></li>
													<li><a href="blog-single-post.html#">Celebrity</a></li>
													<li><a href="blog-single-post.html#">Mackup</a></li>
												</ul>
											</div>
											<div class="tag-action">
												<ul>
													<li><a href="blog-single-post.html#">View all tags</a></li>
												</ul>
											</div>
										</div>
									</div><!-- End Shop Layout -->
								</div>
							</div>
						</div>
					</div>
					<!-- End sideber -->
				</div>
			</div>
		</div>
		<!--End Blog Post Area -->
		{% endblock content %}