		{% extends 'base.html' %}
		{% load static %}
		{% block content %}
		<!-- shop page area start -->
		<div class="blog-details-area">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Blog</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="blog-details.html#"><span>Home</span></a></li>
									<li>Blog</li>
									<li>Blog Details</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!-- blog side start -->
		<div class="blog-det-page">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Left Sidebar-->
						<div class="left-sidebar">
							<div class="left-sidebar-title">
								<h4>Bloging options</h4>
							</div>
							<div class="widget widget-categories">
								<h5 class="sidebar-title">Recent Post</h5>
								<div class="widget-item">
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog001.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->	
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog002.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->	
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog003.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog004.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->		
									<!-- single-product start -->	
									<div class="widget-product">
										<div class="widget-img">
											<a href="http://usdtheme.com/preview-styles/single-product.html">
												<img src="{% static 'images/blog/blog005.jpg' %}" alt="" />
											</a>
										</div>
										<div class="product-info">
											<h5><a href="http://usdtheme.com/preview-styles/single-product.html">Bwesui Qcdeuy</a></h5>
											<p>Voluptatem hic labore cupiditate magnam nam ea dolores sunt</p>							
										</div>
									</div>	
									<!-- single-product end -->							
								</div>			
							</div>
							<div class="left-sidebar-title">
								<div class="layout-title bottom-tag">
								    <h5 class="sidebar-title">Popular Tags</h5>
									<div class="shop-layout">
										<div class="popular-tag">
											<div class="tag-list">
												<ul>
													<li><a href="blog-details.html#">Hair</a></li>
													<li><a href="blog-details.html#">Style</a></li>
													<li><a href="blog-details.html#">Cutting</a></li>
													<li><a href="blog-details.html#">Celebrity</a></li>
													<li><a href="blog-details.html#">Mackup</a></li>
													<li><a href="blog-details.html#">Styles</a></li>
													<li><a href="blog-details.html#">Men</a></li>
													<li><a href="blog-details.html#">Women</a></li>
													<li><a href="blog-details.html#">Cutting</a></li>
													<li><a href="blog-details.html#">Celebrity</a></li>
													<li><a href="blog-details.html#">Mackup</a></li>
												</ul>
											</div>
											<div class="tag-action">
												<ul>
													<li><a href="blog-details.html#">View all tags</a></li>
												</ul>
											</div>
										</div>
									</div><!-- End Shop Layout -->
								</div>
							</div>
						</div>
					</div>
					<!-- End sideber -->
					<div class="col-lg-8 col-md-8 col-sm-8">
						<!-- single-blog start -->
						<article class="blog-post-wrapper">
							<div class="post-thumbnail">
								<img src="{% static 'images/blog/bl1.jpg' %}" alt="" />
							</div>
							<div class="post-information">
								<h4>Blog image post layout</h4>
								<div class="entry-meta">
									<span class="author-meta"><i class="fa fa-user"></i> <a href="blog-details.html#">admin</a></span>
									<span><i class="fa fa-clock-o"></i> march 28, 2016</span>
									<span class="tag-meta">
										<i class="fa fa-folder-o"></i>
										<a href="blog-details.html#">Cutting</a>,
										<a href="blog-details.html#">Hair Styles</a>
									</span>
									<span>
										<i class="fa fa-tags"></i>
										<a href="blog-details.html#">Boy</a>,
										<a href="blog-details.html#"> Girl</a>,
										<a href="blog-details.html#">Baby</a>
									</span>
									<span><i class="fa fa-comments-o"></i> <a href="blog-details.html#">6 comments</a></span>
								</div>
								<div class="entry-content">
									<p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit.</p>
									<p>Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse </p>
									<blockquote>
										<p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus</p>
									</blockquote>							
									<p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu</p>
								</div>
								<div class="social-sharing">
									<h3>Share this post</h3>
									<div class="sharing-icon">
										<a href="blog-details.html#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>
										<a href="blog-details.html#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
										<a href="blog-details.html#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a>
										<a href="blog-details.html#" data-toggle="tooltip" title="Google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="blog-details.html#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</article>
						<div class="clear"></div>
						<div class="single-post-comments">
							<div class="comments-area">
								<div class="comments-heading">
									<h3>6 comments</h3>
								</div>
								<div class="comments-list">
									<ul>
										<li>
											<div class="comments-details">
												<div class="comments-list-img">
													<img src="{% static 'images/blog/b18.jpg' %}" alt="post-author">
												</div>
												<div class="comments-content-wrap">
													<span>
														<b><a href="blog-details.html#">admin</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 1:38 am</span>
														<a href="blog-details.html#">Reply</a>
													</span>
													<p>just a nice post</p>
												</div>
											</div>
										</li>
										<li class="threaded-comments">
											<div class="comments-details">
												<div class="comments-list-img">
													<img src="{% static 'images/blog/b18.jpg' %}" alt="post-author">
												</div>
												<div class="comments-content-wrap">
													<span>
														<b><a href="blog-details.html#">demo</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 2:25 pm</span>
														<a href="blog-details.html#">Reply</a>
													</span>
													<p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
												</div>
											</div>
										</li>
										<li>
											<div class="comments-details">
												<div class="comments-list-img">
													<img src="{% static 'images/blog/b18.jpg' %}" alt="post-author">
												</div>
												<div class="comments-content-wrap">
													<span>
														<b><a href="blog-details.html#">admin</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 3:18 pm </span>
														<a href="blog-details.html#">Reply</a>
													</span>
													<p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
												</div>
											</div>
										</li>
										<li class="threaded-comments">
											<div class="comments-details">
												<div class="comments-list-img">
													<img src="{% static 'images/blog/b18.jpg' %}" alt="post-author">
												</div>
												<div class="comments-content-wrap">
													<span>
														<b><a href="blog-details.html#">demo</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 4:25 pm</span>
														<a href="blog-details.html#">Reply</a>
													</span>
													<p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
												</div>
											</div>
										</li>									
									</ul>
								</div>
							</div>
							<div class="comment-respond">
								<h3 class="comment-reply-title">Leave a Reply </h3>
								<span class="email-notes">Your email address will not be published. Required fields are marked *</span>
								<form action="blog-details.html#">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<p>Name *</p>
											<input type="text" />
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<p>Email *</p>
											<input type="email" />
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<p>Website</p>
											<input type="text" />
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
											<p>Website</p>
											<textarea id="message-box" cols="30" rows="10"></textarea>
											<input type="submit" value="Post Comment" />
										</div>
									</div>
								</form>
							</div>						
						</div>
						<!-- single-blog end -->
						<div class="blog-pagination">
							<ul class="pagination">
								<li><a href="blog-details.html#">&lt;</a></li>
								<li class="active"><a href="blog-details.html#">1</a></li>
								<li><a href="blog-details.html#">2</a></li>
								<li><a href="blog-details.html#">3</a></li>
								<li><a href="blog-details.html#">4</a></li>
								<li><a href="blog-details.html#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>	
		</div>
		<!-- shop area end -->
		{% endblock content %}
