        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
		<!-- Start Page Content -->
		<div class="page-content">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Blog</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="blog-grid.html#"><span>Home</span></a></li>
									<li>Blog</li>
									<li>Blog Grid</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			<!-- Start Blog Post Area -->
			<div class="blog-post fix">
				<div class="container">
					<div class="row">
						<div class="blog-post-inner blog-grid-post">
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl2.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl3.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt.</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl4.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt.</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl5.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt.</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							<!-- Start Single Blog -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="single-blog text-left ">
									<div class="blog-thumb">
										<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">
									</div>
									<div class="blog-info">
										<h3 class="blog-heading"><a href="blog-grid.html#">Title Post Here</a></h3>
										<div class="blog-post-dlc">
											<ul>
												<li>
													<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
												</li>
												<li><a href="blog-grid.html#"><i class="fa fa-heart"></i></a>17</li>
												<li><a href="blog-grid.html#"><i class="fa fa-comments-o"></i></a>2</li>
											</ul>
										</div>
										<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt.</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
						</div>
					</div>
				</div>
			</div>
			<!--End Blog Post Area -->
		</div>
		<!-- Start Page Content -->
        {% endblock content %}