        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
		<!-- Start Page Content -->
		<div class="page-content">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">It's Feedback time </h2>
								 <ul class="page-head-menu">
									<!--<li><i class="fa fa-pencil"></i><a class="home" href="blog-grid.html#"><span>Home</span></a></li>-->
									<li><i class="fa fa-pencil"></i>kindly help us to improve :-)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			{% if feedbacks %}
				<!-- Start Blog Post Area -->
				<div class="blog-post fix">
					<div class="container">
						<div class="row">
							<div class="blog-post-inner blog-grid-post">
								{% for feedback in feedbacks %}
								<!-- Start Single Blog -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="single-blog text-left ">
											<!--<div class="blog-thumb">-->
												<!--<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">-->
											<!--</div>-->
											<div class="blog-info">
												<h3 class="blog-heading"><a href="#">{{ feedback.customer.first_name }} {{ feedback.customer.last_name }}</a></h3>
												<div class="blog-post-dlc">
													<ul>
														<li>
															<span class="date-time"><i class="fa fa-calendar"></i>{{ feedback.feedback_timestamp.date }}</span>
														</li>
														<li><a href="blog-grid.html#"><i class="fa fa-clock-o"></i></a>{{ feedback.feedback_timestamp.time }}</li>
													</ul>
												</div>
												<p class="blog-content">{{ feedback.content }}</p>
											</div>
										</div>
									</div>
								<!-- End Single Blog -->
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!--End Blog Post Area -->
			{% endif %}
			<!-- star Appointment Area -->
			<div class="apoin-area area-padding">
				<div class="appoin-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="section-headline text-center section-2">
								<h3>Feedback Form</h3>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="apoint-form">
							<form name="app-form" id="app-ready" method="post" action="{% url 'save_feedback' %}" on>
								{% csrf_token %}
								<div class="col-sm-12 col-md-offset-1 col-md-10 app-left">
									<!--<div class="form-group">-->
										  <!--<label>Name</label>-->
										  <!--<input type="text" name="client-name" id="app-name"  class="form-control required" placeholder="name" required title="kindly provide your name">-->
									<!--</div>-->
									<!--<div class="form-group mt-right0">-->
										  <!--<label>Email</label>-->
										  <!--<input type="email" class="form-control required email" name="client-email" id="app-email" placeholder="Email">-->
									<!--</div>-->

									<!--<div class="form-group">-->
										  <!--<label>Age</label>-->
										  <!--<input type="number" name="age" id="age"  class="form-control required" placeholder="age">-->
									<!--</div>-->
									<!--<div class="form-group mt-right0">-->
										  <!--<label>Contact No</label>-->
										  <!--<input type="number" class="form-control required email" name="contact_no" id="contact_no" placeholder="contact no" required title="kindly provide your contact no">-->
									<!--</div>-->

									<div class="form-group textarea">
									  <label class="control-label">Feedback</label>
									  <textarea class="form-control" name="feedback_message" placeholder="your feedback goes here..." rows="5" id="AppointmentMessage" required></textarea>
									</div>
									<div class="submitbtn">
										<button type="submit" class="btn btn-default" value="Submit" >SUBMIT</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End Appointment Area -->
		</div>
		<!-- Start Page Content -->
        {% endblock content %}