        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
		<!-- Start Page Content -->
		<div class="page-content">
			<div class="page-head">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Blog</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="blog-grid.html#"><span>Home</span></a></li>
									<li>Blog</li>
									<li>Blog Grid</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			<!-- Start Blog Post Area -->
			<div class="blog-post fix">
				<div class="container">
					<div class="row">
						<div class="blog-post-inner blog-grid-post">
							{% for feedback in feedbacks %}
							<!-- Start Single Blog -->
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-blog text-left ">
										<div class="blog-thumb">
											<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">
										</div>
										<div class="blog-info">
											<h3 class="blog-heading"><a href="blog-grid.html#">{{ feedback.customer.user.first_name }} {{ feedback.customer.user.last_name }}</a></h3>
											<div class="blog-post-dlc">
												<ul>
													<li>
														<span class="date-time"><i class="fa fa-calendar"></i>{{ feedback.date }}</span>
													</li>
												</ul>
											</div>
											<p class="blog-content">{{ feedback.content }}</p>
										</div>
									</div>
								</div>
							<!-- End Single Blog -->
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!--End Blog Post Area -->
		</div>
		<!-- Start Page Content -->
        {% endblock content %}