	{% extends "base.html" %}
	{% load static %}

	{% block content %}
		<!-- Start Slider Area -->
		<div class="slider-area">
			<div class="bend niceties preview-2">
				<div id="ensign-nivoslider" class="slides">	
					<img src="{% static 'images/slider/slider7.jpg' %}" alt="" title="#slider-direction-1"  />
					<img src="{% static 'images/slider/slider2.jpg' %}" alt="" title="#slider-direction-2"  />
				</div>
				<!-- direction 1 -->
				<div id="slider-direction-1" class="slider-direction slider-one">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">
								<div class="slider-content hidden-xs">
									<!-- layer 1 -->
									<div class="layer-1-1 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s ">
										<h2 class="title1">The Hair Fashion</h2>
									</div>
									<!-- layer 2 -->
									<div class="layer-1-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s ">
										<h1 class="title2">Let Your Hair Do The Talking...</h1>
									</div>
									<!-- layer 3 -->
									{% if request.user.is_authenticated %}
										<div class="layer-1-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".3s ">
											<a href="#" class="ready-btn" title="Quick view" data-toggle="modal" data-target="#productModal">Book Appointment</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- direction 2 -->
				<div id="slider-direction-2" class="slider-direction slider-two">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">
								<div class="slider-content hidden-xs">
									<!-- layer 1 -->
									<div class="layer-1-1 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s ">
										<h2 class="title1">The Skin Care</h2>
									</div>
									<!-- layer 2 -->
									<div class="layer-1-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s  ">
										<h1 class="title2">Lets Make Something very, very clear... Your Skin</h1>
									</div>
									<!-- layer 3 -->
									<div class="layer-1-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".3s ">
                                        <a href="#" class="ready-btn" title="Quick view" data-toggle="modal" data-target="#productModal">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slider Area -->
		<!-- Start banner Area -->
		<div class="banner-area banner-area-2 area-padding fix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>The Gorgeous salon</h3>
						<p>Our commitment to quality and services ensure our clients happy. With years of experiences and continuing education, <br />our dedicated staff is ready to serve your beauty needs.We're happy to help you decide the best look.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="banner-item-2">
							<div class="single-banner">
								<a href="#">
									<img src="{% static 'images/banner/banner002.jpg' %}" alt="banners">
								</a>
							</div>
						</div>
						<div class="banner-item-2">
							<div class="single-banner wow slideInRight" data-wow-duration="1s" data-wow-delay=".3s">
								<a href="#">
									<img src="{% static 'images/banner/banner003.jpg' %}" alt="banners">
								</a>
							</div>
							<div class="single-banner wow slideInRight" data-wow-duration="1.5s" data-wow-delay=".4s">
								<a href="#">
									<img src="{% static 'images/banner/banner004.jpg' %}" alt="banners">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End banner Area -->
		<!-- Start Service Area -->
		<div class="service-area area-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our Services</h3>
						<p>Discover What We Do</p>
						</div>
					</div>
				</div>
				<div class="row mar-table">
					<div class="col-lg-12 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="service-right">
							<div class="cut-content head-team">
								<h4>Skin</h4>
							</div>
							<div class="service-images">
								<a href="#"><img src="{% static 'images/service/service2.jpg' %}" alt=""></a>
								<div class="overly-text">
									<h4>follow our services</h4>
									<a class="btn-service " href="{% url 'services' %}">Go to services</a>
								</div>
							</div>
						</div> 
						<form action="#">
							<div class="table-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Available Skin Services</th>
										</tr>
									</thead>
									<tbody>
										{% for service in skin_services %}
											<tr>
												<td>{{ service.name }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
					</div>
				</div>
				<!-- end row -->
				<div class="row mar-table hidden-xs">
					<div class="col-lg-12 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<form action="#">
							<div class="table-content left-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Available Hair Services</th>
										</tr>
									</thead>
									<tbody>
										{% for service in hair_services %}
											<tr>
												<td>{{ service.name }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
						<div class="service-right">
						   <div class="cut-content head-team">
								<h4>Hair</h4>
							</div>
							<div class="service-images">
								<a href="#"><img src="{% static 'images/service/service1.jpg' %}" alt=""></a>
								<div class="overly-text">
									<h4>follow our services</h4>
									<a class="btn-service " href="{% url 'services' %}">Go to services</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
		</div>
		<!-- End Service Area -->
		<!-- Start team Area -->
		<div class="our-team-area area-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our special Team</h3>
						<p>meet our team</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="team-member">
							<div class="team-side-text wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
								<div class="team-left-text">
									<h4>meet our expert team</h4>
									<p>meet our stylish, passionate, experienced, educated, talented and professional staff which thrives in keeping up with current trends and technological advances in hair care and skin care. We support this through continuing education and practical training — attending hair shows/conferences, taking classes at nationally recognized academies, participating in show events and more.</p>
								</div>
								<div class="email-news">
									<form method="post" action="{% url 'newsletter_subscription' %}">
										{% csrf_token %}
										<div class="email_button">
										   <input type="text" name="email_id" placeholder="Email" required  pattern="[A-Za-z0-9!#$%&'*+-/=?^_`{|}~]+@[A-Za-z]*\.+[A-Za-z]+" title="kindly enter valid email id">
										   <button type="submit"><i class="fa fa-envelope"></i></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-8 team-left wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="team-member-carousel team-indicator">
						   <!-- Start single-team member -->
							{% for beautician in beauticians %}
							<div class="single-team-member">
								<div class="team-img">
									<a href="{% url 'beautician_details' beautician.id %}">
										{% if beautician.user.first_name == "prabha" %}
											<img src="{% static 'images/team/team3.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
										{% elif beautician.user.first_name == "dipti" %}
											<img src="{% static 'images/team/team4.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
										{% else %}
											<img src="{% static 'images/team/team6.jpg' %}" alt="{{ beautician.user.first_name }}'s image">
										{% endif %}
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="https://www.instagram.com/pemsss03/"><i class="fa fa-instagram"></i></a></li>
											<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>{{ beautician.user.first_name }}</h4>
									<p>{{ beautician.experience_details }}</p>
								</div>
							</div>
							{% endfor %}
							<!-- End single-team member -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End our team Area -->
		<!-- Start Add Area -->
		<div class="add-area fix">
			<div class="add-items">
				<div class="single-add-itms wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
					<a href="#"><img src="{% static 'images/banner/banner7.jpg' %}" alt=""></a>
				</div>
				<div class="single-add-itms wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
					<a href="#"><img src="{% static 'images/banner/banner9.jpg' %}" alt=""></a>
				</div>
				<div class="single-add-itms hidden-sm wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
					<a href="#"><img src="{% static 'images/banner/banner8.jpg' %}" alt=""></a>
				</div>
			</div>
		</div>
		<!-- End Add Area -->
		<!-- Start portfolio Area -->
		<div class="portfolio-area area-padding fix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our Portfolio</h3>
						<p>Checkout our work...</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Start Portfolio -page -->
					<div class="awesome-project-1 fix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="awesome-menu ">
								<ul class="project-menu">
									<li><a href="#" class="active" data-filter="*" >All</a></li>
									<li><a href="#" data-filter=".hair">hair</a></li>
									<li><a href="#" data-filter=".skin">skin</a></li>
									<li><a href="#" data-filter=".makeup">makeup</a></li>
								</ul>				
							</div>
						</div>
					</div>
					<div class="awesome-project-content portfolio-2">
						<!-- single-awesome-project start -->
						<div class="single-awesome-project makeup">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port2.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Eye Makeup</a></h5>
										<!--<span>Hero cut</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
						<!-- single-awesome-project start -->
						<div class="single-awesome-project hair">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port3.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Hair Style</a></h5>
										<!--<span>Celebrity</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
						<!-- single-awesome-project start -->
						<div class="single-awesome-project skin">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port5.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Skin care</a></h5>
										<!--<span>Easily</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port5.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port5.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
						<!-- single-awesome-project start -->
						<div class="single-awesome-project hair">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port6.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Makeup</a></h5>
										<!--<span>Makeup</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
						<!-- single-awesome-project start -->
						<div class="single-awesome-project skin">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port7.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Facial</a></h5>
										<!--<span>Cleaning</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port7.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port7.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
						<!-- single-awesome-project start -->
						<div class="single-awesome-project makeup">
							<div class="awesome-img">
								<a href="#"><img src="{% static 'images/portfolio/port8.jpg' %}" alt="" /></a>
								<div class="add-actions">
									<div class="project-dec">
										<h5><a href="#">Haircut</a></h5>
										<!--<span>Haircut</span>-->
									</div>
									<ul class="project-action-btn">
										<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port8.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
										<li><a download="image.jpg" href="{% static 'images/portfolio/port8.jpg' %}"><i class="fa fa-download"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- single-awesome-project end -->
					</div>
				</div>	
			</div>	
		</div>
		<!-- awesome-portfolio end -->
		<!-- Start testimonials end -->
		<div class="testimonial-area">
			<div class="test-overly"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
						<div class="testimonial-content">
							<!-- start testimonial carousel -->
							<div class="testimonial-carousel">
								<div class="single-testi text-center">
									<div class="testi-img">
										<img src="{% static 'images/testimonial/test1.jpg' %}" alt="">
									</div>
									<div class="testi-text text-center">
										<p>I know who I am. I am not perfect. I'm not the most beautiful woman in the world. But I'm one of them.</p>
										<h6>Mary J. Blige</h6>
										<span class="guest-rev">Musician - <a href="#">America</a></span>
									</div>
								</div>
								<!-- End single item -->
								<div class="single-testi text-center">
									<div class="testi-img">
										<img src="{% static 'images/testimonial/test2.jpg' %}" alt="">
									</div>
									<div class="testi-text text-center">
										<p>No matter what shape or size you are, you should feel confident in your own skin. You should feel like a beautiful woman, no matter what!</p>
										<h6>Joanna Krupa</h6>
										<span class="guest-rev">Model - <a href="#">America</a></span>
									</div>
								</div>
								<!-- End single item -->
								<div class="single-testi text-center">
									<div class="testi-img">
										<img src="{% static 'images/testimonial/test3.jpg' %}" alt="">
									</div>
									<div class="testi-text text-center">
										<p>When virtue and modesty enlighten her charms, the lustre of a beautiful woman is brighter than the stars of heaven, and the influence of her power it is in vain to resist.</p>
										<h6>Akhenaton</h6>
										<span class="guest-rev">Statesman - <a href="#">Egypt</a></span>
									</div>
								</div>
								<!-- End single item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End testimonials end -->
		<!-- Start Blog Post Area -->
		 <!--<div class="our-blog-area area-padding">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
						<!--<div class="section-headline text-center">-->
						<!--<h3>Our Latest News</h3>-->
						<!--<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br/>  Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus,.</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
					<!--<div class="blog-post-inner blog-carousel team-indicator">-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl1.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl2.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl2.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl3.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl4.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
						<!--&lt;!&ndash; Start Single Blog &ndash;&gt;-->
						<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
							<!--<div class="single-blog text-left ">-->
								<!--<div class="blog-thumb">-->
									<!--<img alt="blog img" src="{% static 'images/blog/bl5.jpg' %}">-->
								<!--</div>-->
								<!--<div class="blog-info">-->
									<!--<h3 class="blog-heading"><a href="#">Title Post Here</a></h3>-->
									<!--<div class="blog-post-dlc">-->
										<!--<ul>-->
											<!--<li>-->
												<!--<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>-->
											<!--</li>-->
											<!--<li><a href="#"><i class="fa fa-heart"></i></a>17</li>-->
											<!--<li><a href="#"><i class="fa fa-comments-o"></i></a>2</li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--&lt;!&ndash; End Single Blog &ndash;&gt;-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--End Blog Post Area -->
		<!-- star Appointment Area -->
		<div class="apoin-area area-padding">
			<div class="appoin-overly"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center section-2">
							<h3>Contact Us</h3>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="apoint-form">
						<form name="app-form" id="app-ready" method="post" action="{% url 'contact' %}" on>
							{% csrf_token %}
                            <div class="col-sm-12 col-md-offset-1 col-md-10 app-left">
								<div class="form-group">
									  <label>Name</label>
									  <input type="text" name="client-name" id="app-name"  class="form-control required" placeholder="name" required pattern="[A-Za-z\s]+" title="only characters are allowed">
								</div>
								<div class="form-group mt-right0">
									  <label>Email</label>
									  <input type="email" class="form-control required email" name="client-email" id="app-email" placeholder="Email(optional)" pattern="[A-Za-z0-9!#$%&'*+-/=?^_`{|}~]+@[A-Za-z]*\.+[A-Za-z]+" title="kindly enter valid email id">
								</div>

								<div class="form-group">
									  <label>Age</label>
									  <input type="number" name="age" id="age"  class="form-control required" placeholder="age(optional)" min="18">
								</div>
								<div class="form-group mt-right0">
									  <label>Contact No</label>
									  <input type="text" class="form-control required email" name="contact_no" id="contact_no" placeholder="contact no" required pattern="[0-9]{10}" title="10 digit mobile number">
								</div>

								<div class="form-group textarea">
								  <label class="control-label">Message</label>
								  <textarea class="form-control" name="AppointmentMessage" placeholder="your message goes here..." rows="5" id="AppointmentMessage" required></textarea>
								</div>
								<div class="submitbtn">
									<button type="submit" class="btn btn-default" value="Submit" >SUBMIT</button>
								</div>	
							</div> 
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End Appointment Area -->
	{% endblock content %}

	{% block modal %}
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="o-form text-center">Order Form</h3>
                    </div>
                    <div class="modal-body">
                        <div class="sign-form order-form">
                            <h4 class="form-head text-center">Please Send Your Information</h4>
                            <form id="contactForm" method="POST" action="{% url 'book_appointment' %}" class="contact-form">
                                {% csrf_token %}
								<!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" id="fname" class="form-control width-50" name="first_name" placeholder="First Name" required data-error="Please enter your first name" pattern="[A-Za-z\s]+" title="only characters and spaces are allowed">
                                        <input type="text" id="lname" class="form-control width-50 last-name" name="last_name" placeholder="Last Name" required data-error="Please enter your last name" pattern="[A-Za-z\s]+" title="only characters and spaces are allowed">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="email" class="email form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your email" pattern="[A-Za-z0-9!#$%&'*+-/=?^_`{|}~]+@[A-Za-z]*\.+[A-Za-z]+" title="kindly enter valid email id">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" class="address form-control" id="address" name="address" placeholder="Address" required data-error="Please enter your address">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" class="city form-control" id="city" name="city" placeholder="City" required data-error="Please enter your City" pattern="[A-Za-z\s]+" title="only characters and spaces are allowed">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <select id="select-country" class="select-country form-control width-50" name="select-country" required>
                                            <option value="0">Choose Country</option>
                                            <option value="Afghanisthan">Afghanisthan</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Canada">Canada</option>
                                            <option value="England">England</option>
                                            <option value="France">France</option>
                                            <option value="Italy">Italy</option>
                                            <option value="India">India</option>
                                            <option value="United States">United States</option>
                                        </select>
                                        <input type="text" class="form-control width-50 last-name" id="state" name="state" placeholder="State" required data-error="Please enter your State" pattern="[A-Za-z\s]+" title="only characters and spaces are allowed">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds category and service-->
                                <div class="sign-feilds">
                                    <div class="input-text">
										<span>
											<select id="select-category" class="select-country form-control width-50" name="select-category" required>
												<option value="">Choose Category</option>
												{% for category in service_categories %}
													<option value="{{ category }}">{{ category }}</option>
												{% endfor %}
											</select>
										</span>
										<span>
											<select multiple id="select-service" class="form-control width-50 last-name" name="select-service" required>
												<option value="">Choose Service</option>
												<!--{% for service in services %}-->
													<!--<option value="{{ service.name }}">{{ service.name }}</option>-->
												<!--{% endfor %}-->
											</select>
										</span>
                                    </div>
                                </div>
                                <!-- Date & Time Picker-->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" id="datepicker" class="form-control width-50" name="date" placeholder="Select Date" required data-error="Please Select Date">
                                        <!--<input type="text" id="timepicker" class="form-control width-50 last-name timepicker" name="timepicker" placeholder="Select Time" required data-error="Please Select Time">-->
										<span style="margin-left:3%">
											<input type="time" id="timepicker" min="13:00" max="18:00" class="form-control width-50" name="time" placeholder="Select Time" required data-error="Please Select Time">
											<!--<select id="timepicker" class="select-country form-control width-50" name="time" required>-->
												<!--<option value="">Select Time</option>-->
												<!--<option value="01:00 PM">01:00 PM</option>-->
												<!--<option value="02:00 PM">02:00 PM</option>-->
												<!--<option value="03:00 PM">03:00 PM</option>-->
												<!--<option value="04:00 PM">04:00 PM</option>-->
												<!--<option value="05:00 PM">05:00 PM</option>-->
												<!--<option value="06:00 PM">06:00 PM</option>-->
												<!--<option value="07:00 PM">07:00 PM</option>-->
											<!--</select>-->
										</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" id="zipcode" class="form-control width-50" name="zip_code" placeholder="Zip Code" maxlength="6" required data-error="Please enter your zip code" pattern="[0-9]{6}" title="6 digit pin code">
                                        <input type="text" id="phone" class="form-control width-50 last-name" name="phone_number" placeholder="Phone Number" maxlength="10" pattern="[0-9]{10}" title="10 digit mobile number" required data-error="Please enter your phone number">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="submit-btn">
                                        <button type="submit" id="submit" class="add-btn contact-btn">Book Now</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- modal-body -->
                </div>
                <!-- modal-content -->
            </div>
        </div>
        <!-- END Modal -->
	{% endblock modal %}

	{% block js %}
		{{ block.super }}
		<script>
			$(document).ready(function(){
				$( "#datepicker" ).datepicker({dateFormat: "dd-mm-yy",minDate: 0});
				//$('input.timepicker').timepicker();
				var get_services_url = "{% url 'get_services' %}"
				$("#select-category").change(function(){
					var service_category = $(this).val();
					$.ajax({
						async:true,
						method:'POST',
						url:get_services_url,
						beforeSend:function(){},
						//contentType:,
						data:{'service_category':service_category},
						//dataType:json,
						success:function(data){
							var data = jQuery.parseJSON(data)
							var services = data.services
							$('#select-service').empty();
							$('#select-service').append($('<option></option>').val("0").html("Choose Service"));
							$.each(services, function(i, s) {
								$('#select-service').append($('<option></option>').val(s).html(s));
							});
						},
						//complete:function(){},
						//statusCode:,
					});
				})
			});
		</script>
	{% endblock js %}
