	{% extends "base.html" %}
	{% load static %}

	{% block content %}
		<!-- Start Slider Area -->
		<div class="slider-area">
			<div class="bend niceties preview-2">
				<div id="ensign-nivoslider" class="slides">	
					<img src="{% static 'images/slider/slider1.jpg' %}" alt="" title="#slider-direction-1"  />
					<img src="{% static 'images/slider/slider2.jpg' %}" alt="" title="#slider-direction-2"  />
				</div>
				<!-- direction 1 -->
				<div id="slider-direction-1" class="slider-direction slider-one">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">
								<div class="slider-content hidden-xs">
									<!-- layer 1 -->
									<div class="layer-1-1 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s ">
										<h2 class="title1">The Hair Fashion</h2>
									</div>
									<!-- layer 2 -->
									<div class="layer-1-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".4s ">
										<h1 class="title2">Lets Go Hair Styless</h1>
									</div>
									<!-- layer 3 -->
									<div class="layer-1-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".3s ">
                                        <a href="index.html#" class="ready-btn" title="Quick view" data-toggle="modal" data-target="#productModal">Appointment Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- direction 2 -->
				<div id="slider-direction-2" class="slider-direction slider-two">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">
								<div class="slider-content hidden-xs">
									<!-- layer 1 -->
									<div class="layer-1-1 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s ">
										<h2 class="title1">The Hair Fashion</h2>
									</div>
									<!-- layer 2 -->
									<div class="layer-1-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s  ">
										<h1 class="title2">Lets Go Hair Styless</h1>
									</div>
                                    <!-- layer 3 -->
                                    <div class="layer-1-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".3s ">
                                        <a href="index.html#" class="ready-btn" title="Quick view" data-toggle="modal" data-target="#productModal">Appointment Here</a>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slider Area -->
		<!-- Start banner Area -->
		<div class="banner-area area-padding fix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Styles salon</h3>
						<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="banner-item">
							<div class="single-banner wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
								<a href="index.html#">
									<img src="{% static 'images/banner/banner002.jpg' %}" alt="banners">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="banner-item">
							<div class="single-banner banner-mar wow slideInUp" data-wow-duration="1s" data-wow-delay=".3s">
								<a href="index.html#">
									<img src="{% static 'images/banner/banner2.jpg' %}" alt="banners">
								</a>
							</div>
							<div class="single-banner wow slideInUp" data-wow-duration="1s" data-wow-delay=".4s">
								<a href="index.html#">
									<img src="{% static 'images/banner/banner3.jpg' %}" alt="banners">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End banner Area -->
		<!-- Start team Area -->
		<div class="our-team-area area-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our special Team</h3>
						<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-4 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="team-member">
							<div class="team-side-text">
								<div class="team-left-text">
									<h4>meet our expert team</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem.</p>
								</div>
								<div class="email-news">
									<form action="index.html#">
										<div class="email_button">
										   <input type="text" placeholder="Email"/>
										   <button type="submit"><i class="fa fa-envelope"></i></button>
										</div>
									</form>
								</div>
								<div class="team-left-icon text-center">
									<ul>
										<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										<li><a href="index.html#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-8 team-left wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="team-member-carousel team-indicator">
						   <!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team1.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Jhon</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
							<!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team2.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Marey</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
							<!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team3.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Lopeez</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
							<!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team4.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Jenne</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
							<!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team5.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Andew Loies</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
							<!-- Start single-team member -->
							<div class="single-team-member">
								<div class="team-img">
									<a href="index.html#">
										<img src="{% static 'images/team/team6.jpg' %}" alt="">
									</a>
									<div class="team-social-icon text-center">
										<ul>
											<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content head-team">
									<h4>Annei</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus </p>
								</div>
							</div>
							<!-- End single-team member -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End our team Area -->
		<!-- Start Service Area -->
		<div class="service-area area-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our Services</h3>
						<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
						</div>
					</div>
				</div>
				<div class="row mar-table mob-res">
					<div class="col-lg-12 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="service-right">
							<div class="cut-content head-team">
								<h4>Cutting</h4>
							</div>
							<div class="service-images">
								<a href="index.html#"><img src="{% static 'images/service/service1.jpg' %}" alt=""></a>
								<div class="overly-text">
									<h4>follow our services</h4>
									<a class="btn-service " href="index.html#">Read more</a>
								</div>
							</div>
						</div>
						<form action="index.html#">
							<div class="table-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Cut</th>
											<th>Womens</th>
											<th>Mens</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Styles</td>
											<td>$100</td>
											<td>$90</td>
										</tr>
										<tr>
											<td>Master Stylist</td>
											<td>$110</td>
											<td>$100</td>
										</tr>
											<tr>
											<td>Celebrity Stylist</td>
											<td>$160</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>Baby Cut</td>
											<td>$70</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Comon Stylist</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
										<tr>
											<td>General</td>
											<td>$80</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Mini Cut</td>
											<td>$40</td>
											<td>$40</td>
										</tr>
										<tr>
											<td>Cut</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
					</div>
				</div>
				<!-- end row -->
				<div class="row mar-table hidden-xs">
					<div class="col-lg-12 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<form action="index.html#">
							<div class="table-content left-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>facial</th>
											<th>Womens</th>
											<th>Mens</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Standerd</td>
											<td>$100</td>
											<td>$90</td>
										</tr>
										<tr>
											<td>Special</td>
											<td>$110</td>
											<td>$100</td>
										</tr>
											<tr>
											<td>Celebrity face</td>
											<td>$160</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>Mackup</td>
											<td>$70</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Regular</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
										<tr>
											<td>General</td>
											<td>$80</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Body spa</td>
											<td>$240</td>
											<td>$240</td>
										</tr>
										<tr>
											<td>Styles</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
						<div class="service-right">
						   <div class="cut-content head-team">
								<h4>Special facial</h4>
							</div>
							<div class="service-images">
								<a href="index.html#"><img src="{% static 'images/service/service2.jpg' %}" alt=""></a>
								<div class="overly-text">
									<h4>follow our services</h4>
									<a class="btn-service " href="index.html#">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
				<div class="row">
					<div class="col-lg-12 wow slideInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="service-right">
							<div class="cut-content head-team">
								<h4>Other Services</h4>
							</div>
							<div class="service-images">
								<a href="index.html#"><img src="{% static 'images/service/service3.jpg' %}" alt=""></a>
								<div class="overly-text">
									<h4>follow our services</h4>
									<a class="btn-service " href="index.html#">Read more</a>
								</div>
							</div>
						</div>
						<form action="index.html#">
							<div class="table-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Services</th>
											<th>Womens</th>
											<th>Mens</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Colors</td>
											<td>$100</td>
											<td>$90</td>
										</tr>
										<tr>
											<td>Red Colors</td>
											<td>$110</td>
											<td>$100</td>
										</tr>
											<tr>
											<td>Celebrity</td>
											<td>$160</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>Body Masege</td>
											<td>$70</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Comon Color</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
										<tr>
											<td>General</td>
											<td>$80</td>
											<td>$60</td>
										</tr>
										<tr>
											<td>Black Hair</td>
											<td>$40</td>
											<td>$40</td>
										</tr>
										<tr>
											<td>Broun Clors</td>
											<td>$50</td>
											<td>$50</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
					</div>
				</div>
				<!-- end row -->
			</div>
		</div>
		<!-- End Service Area -->
		<!-- Start portfolio Area -->
		<div class="portfolio-area area-padding fix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Gallery</h3>
							<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Start Portfolio -page -->
					<div class="awesome-project-1 fix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="awesome-menu ">
								<ul class="project-menu">
									<li><a href="index.html#" class="active" data-filter="*" >All</a></li>
									<li><a href="index.html#" data-filter=".hair">hair</a></li>
									<li><a href="index.html#" data-filter=".faceial">faceial</a></li>
									<li><a href="index.html#" data-filter=".makeup">makeup</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="awesome-project-content">
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair faceial">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port1.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Hair styles</a></h5>
											<span>Modeling</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port1.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port2.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Fashion</a></h5>
											<span>Hero cut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project faceial">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port3.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Makeup</a></h5>
											<span>Celebrity</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup hair">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port4.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Styles Salon</a></h5>
											<span>Styles cutting</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port4.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project faceial">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port5.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Spa Room</a></h5>
											<span>Easily</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="images/portfolio/port5.jpg"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port6.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Nice Salon</a></h5>
											<span>Makeup</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project faceial">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port7.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Facewash</a></h5>
											<span>Cleaning</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="images/portfolio/port7.jpg"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port8.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Beautyful</a></h5>
											<span>Haircut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="images/portfolio/port8.jpg"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair">
								<div class="awesome-img">
									<a href="index.html#"><img src="{% static 'images/portfolio/port9.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="index.html#">Beautyful</a></h5>
											<span>Haircut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="images/portfolio/port9.jpg"><i class="fa fa-search-plus"></i></a></li>
											<li><a href="index.html#"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- awesome-portfolio end -->
		<!-- Start testimonials end -->
		<div class="testimonial-area">
		    <div class="well-bg">
				<div class="test-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
							<div class="testimonial-content">
								<!-- start testimonial carousel -->
								<div class="testimonial-carousel">
									<div class="single-testi text-center">
										<div class="testi-img">
											<img src="{% static 'images/testimonial/test1.jpg' %}" alt="">
										</div>
										<div class="testi-text text-center">
											<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
											<h6>marlin</h6>
											<span class="guest-rev">Color Specialest - <a href="index.html#">Styles Salon</a></span>
										</div>
									</div>
									<!-- End single item -->
									<div class="single-testi text-center">
										<div class="testi-img">
											<img src="{% static 'images/testimonial/test2.jpg' %}" alt="">
										</div>
										<div class="testi-text text-center">
											<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
											<h6>Annie</h6>
											<span class="guest-rev">Face Specialest - <a href="index.html#">Styles Salon</a></span>
										</div>
									</div>
									<!-- End single item -->
									<div class="single-testi text-center">
										<div class="testi-img">
											<img src="{% static 'images/testimonial/test3.jpg' %}" alt="">
										</div>
										<div class="testi-text text-center">
											<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
											<h6>Janifer</h6>
											<span class="guest-rev">Hair Specialest -<a href="index.html#">Styles Salon</a></span>
										</div>
									</div>
									<!-- End single item -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End testimonials end -->
		<!-- Start Blog Area -->
		 <div class="our-blog-area area-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						<h3>Our Latest News</h3>
						<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="blog-post-inner blog-carousel team-indicator">
						<!-- Start Single Blog -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="single-blog text-left ">
								<div class="blog-thumb">
									<img alt="blog img" src="{% static 'images/blog/bl2.jpg' %}">
								</div>
								<div class="blog-info">
									<h3 class="blog-heading"><a href="index.html#">Title Post Here</a></h3>
									<div class="blog-post-dlc">
										<ul>
											<li>
												<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
											</li>
											<li><a href="index.html#"><i class="fa fa-heart"></i></a>17</li>
											<li><a href="index.html#"><i class="fa fa-comments-o"></i></a>2</li>
										</ul>
									</div>
									<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
						<!-- Start Single Blog -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="single-blog text-left ">
								<div class="blog-thumb">
									<img alt="blog img" src="{% static 'images/blog/bl3.jpg' %}">
								</div>
								<div class="blog-info">
									<h3 class="blog-heading"><a href="index.html#">Title Post Here</a></h3>
									<div class="blog-post-dlc">
										<ul>
											<li>
												<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
											</li>
											<li><a href="index.html#"><i class="fa fa-heart"></i></a>17</li>
											<li><a href="index.html#"><i class="fa fa-comments-o"></i></a>2</li>
										</ul>
									</div>
									<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
						<!-- Start Single Blog -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="single-blog text-left ">
								<div class="blog-thumb">
									<img alt="blog img" src="{% static 'images/blog/bl4.jpg' %}">
								</div>
								<div class="blog-info">
									<h3 class="blog-heading"><a href="index.html#">Title Post Here</a></h3>
									<div class="blog-post-dlc">
										<ul>
											<li>
												<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
											</li>
											<li><a href="index.html#"><i class="fa fa-heart"></i></a>17</li>
											<li><a href="index.html#"><i class="fa fa-comments-o"></i></a>2</li>
										</ul>
									</div>
									<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
						<!-- Start Single Blog -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="single-blog text-left ">
								<div class="blog-thumb">
									<img alt="blog img" src="{% static 'images/blog/bl5.jpg' %}">
								</div>
								<div class="blog-info">
									<h3 class="blog-heading"><a href="index.html#">Title Post Here</a></h3>
									<div class="blog-post-dlc">
										<ul>
											<li>
												<span class="date-time"><i class="fa fa-calendar"></i>feb 18, 2016</span>
											</li>
											<li><a href="index.html#"><i class="fa fa-heart"></i></a>17</li>
											<li><a href="index.html#"><i class="fa fa-comments-o"></i></a>2</li>
										</ul>
									</div>
									<p class="blog-content">Pellentesque quis condimentum arcu, vel ornare nisi. Donec tellus elit, fringilla non ex id, tincidunt bibendum erat. Nam auctor erat nec mi euismod viverra. Morbi accumsan ipsum velit.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</div>
		<!--End Blog Post Area -->
		<!-- star Appointment Area -->
		<div class="apoin-area">
		    <div class="well-bg area-padding">
				<div class="appoin-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="section-headline text-center section-2">
								<h3>Contact Us</h3>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="apoint-form">
							<form name="app-form" id="app-ready" method="post">
								<div class="col-sm-12 col-md-8 col-lg-7 app-left">
									<div class="form-group">
										  <label>Name</label>
										  <input type="text" name="app-name" id="app-name"  class="form-control required" placeholder="name">
									</div>
									<div class="form-group mt-right0">
										  <label>Email</label>
										  <input type="email" class="form-control required email" name="app-email" id="app-email" placeholder="Email"/>
									</div>
									<div class="form-group textarea">
									  <label class="control-label">Description</label>
									  <textarea class="form-control" name="AppointmentMessage" rows="5" id="AppointmentMessage"></textarea>
									</div>
									<div class="submitbtn">
										<button type="submit" class="btn btn-default" value="Submit" >SUBMIT</button>
									</div>	
								</div> 
							</form>
						</div>
						<div class="map-column col-lg-5 col-md-4 col-sm-12 col-xs-12">
							<div class="map-zone">
								<!-- Map area -->
								<div class="map-area">
									<div id="googleMap" style="width:100%;height:300px;"></div>
								</div><!-- End Map area -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End AppointmentAPP Area -->
		{% endblock content %}

		{% block modal %}
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="o-form text-center">Appiontment Form</h3>
                    </div>
                    <div class="modal-body">
                        <div class="sign-form order-form">
                            <h4 class="form-head text-center">Your Information</h4>
                            <form id="contactForm" method="POST" action="http://usdtheme.com/preview-styles/contact.php" class="contact-form">
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" id="fname" class="form-control width-50" placeholder="First Name" required data-error="Please enter your name">
                                        <input type="text" id="lname" class="form-control width-50 last-name" placeholder="Last Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="email" class="email form-control width-50" id="email" placeholder="Email" required data-error="Please enter your email">
                                        <input type="text" class="address form-control width-50 last-name" id="phone" placeholder="Phone Number" required data-error="Please enter your address">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <input type="text" class="address form-control" id="address" placeholder="Address" required data-error="Please enter your address">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="input-text">
                                        <select id="select-country" class="select-country form-control width-50" name="select-country">
                                            <option value="0">Select Services</option>
                                            <option value="Hair Cut">Hair Cut</option>
                                            <option value="Face Wash">Face Wash</option>
                                            <option value="Mack Up">Mack Up</option>
                                            <option value="Nail Wash">Nail Wash</option>
                                            <option value="Hair Color">Hair Color</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <select id="select-country" class="select-country form-control width-50 last-name" name="select-country">
                                            <option value="0">Select Member</option>
                                            <option value="Afganisthan">Jhon Boy</option>
                                            <option value="Australia">Rejai Joy</option>
                                            <option value="Brazil">Harison</option>
                                            <option value="Canada">Linda</option>
                                            <option value="England">Anika</option>
                                            <option value="United States">United States</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="form-group form-control width-50">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-control width-50 last-name">
                                        <div class="input-group date" id="datetimepicker3">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- single feilds -->
                                <div class="sign-feilds">
                                    <div class="submit-btn">
                                        <button type="submit" id="submit" class="add-btn contact-btn">Order Now</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                    <!-- modal-body -->
                </div>
                <!-- modal-content -->
            </div>
        </div>
        <!-- END Modal -->
	{% endblock modal %}

	{% block js %}
	{{ block.super }}
	<!-- Google Map js -->
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=YOUR-API-KEY""></script>
	<script>
		function initialize() {
		  var mapOptions = {
			zoom: 15,
			scrollwheel: false,
			center: new google.maps.LatLng(23.81033, 90.41252)
		  };

		  var map = new google.maps.Map(document.getElementById('googleMap'),
			  mapOptions);

		  var marker = new google.maps.Marker({
			position: map.getCenter(),
			animation:google.maps.Animation.BOUNCE,
			icon: 'images/logo/map-marker.png',
			map: map
		  });

		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	{% endblock js %}