        {% extends 'base.html' %}
        {% load static %}
        {% block content %}

        <!-- content begin -->
        <div id="content" class="no-bottom no-top">

            <!-- revolution slider begin -->
            <section id="section-slider" aria-label="section-slider" class="fullwidthbanner-container">
                <div id="revolution-slider">
                    <ul>
                        <li data-transition="boxfade" data-slotamount="10" data-masterspeed="800" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="{% static 'images-slider/wide3.jpg' %}" alt="" />

                            <div class="tp-caption big-white sfb"
                                data-x="center"
                                data-y="260"
                                data-speed="1000"
                                data-start="800"
                                data-easing="easeInOutExpo"
                                data-endspeed="450">
                                Our commitment to quality and services.
                            </div>

                            <div class="tp-caption ultra-big-white sfb"
                                data-x="center"
                                data-y="190"
                                data-speed="1200"
                                data-start="600"
                                data-easing="easeInOutExpo"
                                data-endspeed="400">
                                Beauty Salon
                            </div>

                            <div class="tp-caption sfb"
                                data-x="center"
                                data-y="320"
                                data-speed="1000"
                                data-start="1100"
                                data-easing="easeInOutExpo">
                                <a href="index.html#" class="btn-slider">Read More
                                </a>
                            </div>
                        </li>

                        <li data-transition="boxfade" data-slotamount="10" data-masterspeed="800" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="{% static 'images-slider/wide4.jpg' %}" alt="" />

                            <div class="tp-caption big-white sfb"
                                data-x="center"
                                data-y="260"
                                data-speed="1000"
                                data-start="800"
                                data-easing="easeInOutExpo"
                                data-endspeed="450">
                                Full Services Salon.
                            </div>

                            <div class="tp-caption ultra-big-white sfb"
                                data-x="center"
                                data-y="190"
                                data-speed="1200"
                                data-start="600"
                                data-easing="easeInOutExpo"
                                data-endspeed="400">
                                From Head To Toe
                            </div>

                            <div class="tp-caption sfb"
                                data-x="center"
                                data-y="320"
                                data-speed="1000"
                                data-start="1100"
                                data-easing="easeInOutExpo">
                                <a href="index.html#" class="btn-slider">Read More</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <!-- revolution slider close -->


            <div class="no-padding mt-130 height90px mobile-hide absolute z-index500 width100 text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overlay10">

                                <div class="row-fluid">
                                    <div class="col-md-4">
                                        <div class="info-box padding20">
                                            <i class="icon_clock_alt id-color"></i>
                                            <div class="info-box_text">
                                                <div class="info-box_title">Opening Times</div>
                                                <div class="info-box_subtite">Monday - Friday: 09:00 - 22:00</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="info-box padding20">
                                            <i class="icon_house_alt id-color"></i>
                                            <div class="info-box_text">
                                                <div class="info-box_title">Our Location</div>
                                                <div class="info-box_subtite">100 Mainstreet Center, Sydney</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="info-box padding20">
                                            <i class="icon_calendar id-color"></i>
                                            <div class="info-box_text">
                                                <div class="info-box_title">Book Now</div>
                                                <div class="info-box_subtite">+208 333 9296</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- section begin -->
            <section id="section-top-reason" class="no-top no-bottom">
                <div class="container-fluid">
                    <div class="row-fluid display-table">

                        <div class="col-md-4 text-middle" data-bgcolor="#e2e2e2">
                            <div class="padding40">
                                <div class="box-icon">
                                    <i class="fa fa-tags wow zoomIn" data-wow-delay=".25s"></i>
                                    <div class="text">
                                        <h4>Special Promo</h4>
                                        <p>Our commitment to quality and services ensure our clients happy. With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-middle text-light" data-bgimage="url(images/background/bg-div-1.jpg)">
                            <div class="padding40 hoverdark30">
                                <div class="box-icon">
                                    <i class="fa fa-tags wow zoomIn" data-wow-delay=".25s"></i>
                                    <div class="text">
                                        <h4>Get Discount 50%</h4>
                                        <p>Our commitment to quality and services ensure our clients happy. With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-middle text-center" data-bgcolor="#50094d">
                            <div class="padding40">
                                <a href="booking.html" class="btn btn-line-white btn-big wow fadeInUp" data-wow-delay=".3s">Make Appointment Now</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-services-tab" aria-label="section-services-tab">
                <div class="container">

                    <div class="col-md-12 wow fadeInUp">
                        <div class="de_tab tab_style_2 scrollTo">
                            <ul class="de_nav">
                                <li class="active" data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_1.jpg' %}" alt=""><span>Hair</span><div class="v-border"></div>
                                </li>
                                <li data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_2.jpg' %}" alt=""><span>Make Up</span><div class="v-border"></div>
                                </li>
                                <li data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_3.jpg' %}" alt=""><span>Facial</span><div class="v-border"></div>
                                </li>
                                <li data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_4.jpg' %}" alt=""><span>Massage</span><div class="v-border"></div>
                                </li>
                                <li data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_5.jpg' %}" alt=""><span>Nail</span><div class="v-border"></div>
                                </li>
                                <li data-link="#section-services-tab">
                                    <img src="{% static 'images/services/service_6.jpg' %}" alt=""><span>Waxing</span><div class="v-border"></div>
                                </li>
                            </ul>

                            <div class="de_tab_content">

                                <div id="tab1" class="tab_single_content">
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Braids & Twist</div>
                                                <div class="c2"></div>
                                                <div class="c3">$35</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Clipper Cut</div>
                                                <div class="c2"></div>
                                                <div class="c3">$5</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Color Rinse</div>
                                                <div class="c2"></div>
                                                <div class="c3">$5</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Corrective Color</div>
                                                <div class="c2"></div>
                                                <div class="c3">$15</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Extension Per Track</div>
                                                <div class="c2"></div>
                                                <div class="c3">$10</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1"><span class="disc">10% Off</span>Full Foil</div>
                                                <div class="c2"></div>
                                                <div class="c3">$38</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Haircolor</div>
                                                <div class="c2"></div>
                                                <div class="c3">$15</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Haircut</div>
                                                <div class="c2"></div>
                                                <div class="c3">$9</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1"><span class="disc">5% Off</span>Hair Extension</div>
                                                <div class="c2"></div>
                                                <div class="c3">$45</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Kids Haircut</div>
                                                <div class="c2"></div>
                                                <div class="c3">$5</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Partial Foil</div>
                                                <div class="c2"></div>
                                                <div class="c3">$25</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="sub-item-service">
                                                <div class="c1">Thermal Add On</div>
                                                <div class="c2"></div>
                                                <div class="c3">$20</div>
                                            </div>
                                        </div>


                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div id="tab2" class="tab_single_content">

                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Full Face</div>
                                            <div class="c2"></div>
                                            <div class="c3">$20</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Eye Lasy Strip</div>
                                            <div class="c2"></div>
                                            <div class="c3">$12</div>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Teen Makeup</div>
                                            <div class="c2"></div>
                                            <div class="c3">$18</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Sweet Pea</div>
                                            <div class="c2"></div>
                                            <div class="c3">$15</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1"><span class="disc">8% Off</span>Special Occasion Makeup</div>
                                            <div class="c2"></div>
                                            <div class="c3">$25</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Wedding Day Make Up</div>
                                            <div class="c2"></div>
                                            <div class="c3">$45</div>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div id="tab3" class="tab_single_content">

                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1"><span class="disc">7% Off</span>Vitamin C Facial</div>
                                            <div class="c2"></div>
                                            <div class="c3">$42</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Acne Facial</div>
                                            <div class="c2"></div>
                                            <div class="c3">$20</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Anti Aging Facial</div>
                                            <div class="c2"></div>
                                            <div class="c3">$40</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Sensitive Skin Facial</div>
                                            <div class="c2"></div>
                                            <div class="c3">$38</div>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div id="tab4" class="tab_single_content">

                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">1 Hour - Essential Therapy</div>
                                            <div class="c2"></div>
                                            <div class="c3">$49</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">1 1/2 Hour - Complete Therapy</div>
                                            <div class="c2"></div>
                                            <div class="c3">$74</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">2 Hour - Maximum Therapy</div>
                                            <div class="c2"></div>
                                            <div class="c3">$99</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1"><span class="disc">15% Off</span>Enhanced Therapy</div>
                                            <div class="c2"></div>
                                            <div class="c3">$149</div>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div id="tab5" class="tab_single_content">

                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Pedicures</div>
                                            <div class="c2"></div>
                                            <div class="c3">$25</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Manicures</div>
                                            <div class="c2"></div>
                                            <div class="c3">$28</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Nail Enhancements</div>
                                            <div class="c2"></div>
                                            <div class="c3">$65</div>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div id="tab6" class="tab_single_content">

                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Wax</div>
                                            <div class="c2"></div>
                                            <div class="c3">$63</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sub-item-service">
                                            <div class="c1">Threading</div>
                                            <div class="c2"></div>
                                            <div class="c3">$58</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->




            <!-- section begin -->
            <section id="explore-5" class="side-bg text-light">
                <div class="col-md-6 image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">

                            <h2 class="wow-fadeIn">What They Says</h2>
                            <div class="small-border left wow zoomIn" data-wow-delay=".3s" data-wow-duration=".3s"></div>

                            <ul class="testimonial-list wow fadeIn" data-wow-delay=".25s">
                                <li>They were so friendly and it was pleasure to get my hair done there. I'm very happy with services their provided. I will recommend this salon to my family and friends. Their pricing was competitive and their staff is professional.
										<span>Lynda, Customer</span>
                                </li>
                                <li>A wonderful relaxing time, Thank you! The best salon in town as it proved by quality of staff and services. Their services make my feel so special. I always enjoy coming here, i would definitely return for future treatments. 
										<span>Sarah, Customer</span>
                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-hero-2" aria-label="section-hero-2" data-stellar-background-ratio=".2" data-bgcolor="#333" class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt60 mb100 text-center">
                            <h4 class="mb30">Discover Our Services.</h4>
                            <div class="small-border wow zoomIn"></div>
                            <div class="type-wrap font48 text-center">
                                We do
                            <div class="typed-strings">
                                <p>Hair Care</p>
                                <p>Make Up</p>
                                <p>Facial</p>
                                <p>Massage</p>
                                <p>Nail Care</p>
                                <p>Waxing</p>
                            </div>
                                <span class="typed"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-blog" class="no-top">
                <div class="container">
                    <div class="row">

                        <div class="clearfix"></div>

                        <ul id="blog-carousel" class="blog-list blog-snippet wow fadeInUp mt-60">
                            <li class="col-md-6 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img src="{% static 'images/blog/pic-blog-1.jpg' %}" alt="" />
                                    </div>


                                    <div class="date-box">
                                        <div class="day">26</div>
                                        <div class="month">FEB</div>
                                    </div>

                                    <div class="post-text">
                                        <h3><a href="css/index.html#">How to Make Your Hair Grow Faster</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    </div>

                                </div>
                            </li>

                            <li class="col-md-6 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img src="{% static 'images/blog/pic-blog-2.jpg' %}" alt="" />
                                    </div>


                                    <div class="date-box">
                                        <div class="day">20</div>
                                        <div class="month">FEB</div>
                                    </div>

                                    <div class="post-text">
                                        <h3><a href="css/index.html#">5 Ways to Make Hair Look Gorgeous</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    </div>

                                </div>
                            </li>

                            <li class="col-md-6 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img src="{% static 'images/blog/pic-blog-3.jpg' %}" alt="" />
                                    </div>


                                    <div class="date-box">
                                        <div class="day">16</div>
                                        <div class="month">FEB</div>
                                    </div>

                                    <div class="post-text">
                                        <h3><a href="css/index.html#">14 Easy Ways to Get Standout Eyes</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    </div>

                                </div>
                            </li>

                            <li class="col-md-6 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img src="{% static 'images/blog/pic-blog-4.jpg' %}" alt="" />
                                    </div>


                                    <div class="date-box">
                                        <div class="day">08</div>
                                        <div class="month">FEB</div>
                                    </div>

                                    <div class="post-text">
                                        <h3><a href="css/index.html#">An Owner’s Guide to Naturally Wavy Hair</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="cta" aria-label="cta" class="call-to-action bg-color-2 wow fadeInLeftBig text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 mt10">
                            <h3><i class="fa fa-phone mr10"></i>Contact us now and get special offers!</h3>
                        </div>

                        <div class="col-md-3 text-right">
                            <a href="booking.html" class="btn btn-line-white btn-big">Make Appointment Now</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

        </div>

        {% endblock content %}