        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
		<!--Start Page Content -->
		<div class="service-page">
			<div class="service-heading">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">portfolio</h2>
								 <ul class="page-head-menu">
									<li><i class="fa fa-home"></i><a class="home" href="portfolio-1.html#"><span>Home</span></a></li>
									<li>Portfolio</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!-- Start portfolio Area -->
		<div class="portfolio-area area-padding fix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Our Portfolio</h3>
							<p>Checkout our work...</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Start Portfolio -page -->
					<div class="awesome-project-1 fix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="awesome-menu ">
								<ul class="project-menu">
									<li><a href="portfolio-1.html#" class="active" data-filter="*" >All</a></li>
									<li><a href="portfolio-1.html#" data-filter=".hair">hair</a></li>
									<li><a href="portfolio-1.html#" data-filter=".skin">skin</a></li>
									<li><a href="portfolio-1.html#" data-filter=".makeup">makeup</a></li>
								</ul>				
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="awesome-project-content">
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/5.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Hair styles</a></h5>
											<span>Modeling</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/5.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/5.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port2.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Fashion</a></h5>
											<span>Hero cut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair makeup">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port3.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Makeup</a></h5>
											<span>Celebrity</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project skin">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/7.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Styles Salon</a></h5>
											<span>Styles cutting</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/7.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/7.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port5.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Spa Room</a></h5>
											<span>Easily</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port5.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port5.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port6.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Nice Salon</a></h5>
											<span>Makeup</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project skin makeup">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port7.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Facewash</a></h5>
											<span>Cleaning</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port7.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port7.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project hair">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/port8.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Beautyful</a></h5>
											<span>Haircut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port8.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/port8.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
							<!-- single-awesome-project start -->
							<div class="single-awesome-project makeup">
								<div class="awesome-img">
									<a href="portfolio-1.html#"><img src="{% static 'images/portfolio/8.jpg' %}" alt="" /></a>
									<div class="add-actions">
										<div class="project-dec">
											<h5><a href="portfolio-1.html#">Beautyful</a></h5>
											<span>Haircut</span>
										</div>
										<ul class="project-action-btn">
											<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/8.jpg' %}"><i class="fa fa-search-plus"></i></a></li>
											<li><a download="image.jpg" href="{% static 'images/portfolio/8.jpg' %}"><i class="fa fa-download"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- single-awesome-project end -->
						</div>		
					</div>		
				</div>	
			</div>	
		</div>
		<!-- awesome-portfolio end -->
        <!--&lt;!&ndash; Start portfolio Area &ndash;&gt;-->
        <!--<div class="gallary-area area-padding fix">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="section-headline text-center">-->
                            <!--<h3>Our Gallery</h3>-->
                            <!--<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br/>  Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="gallary-details fix">-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port1.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port1.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port2.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port2.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port3.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port3.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port4.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port4.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port5.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port5.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port6.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port6.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port7.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port7.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/port8.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/port8.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/8.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/8.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/7.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/7.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/6.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/6.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single-gallery start &ndash;&gt;-->
                        <!--<div class="single-awesome-portfolio ">-->
                            <!--<div class="awesome-img">-->
                                <!--<img src="{% static 'images/portfolio/5.jpg' %}" alt="" />-->
                                <!--<div class="add-actions">-->
                                    <!--<ul class="project-action-btn">-->
                                        <!--<li><a class="venobox" data-gall="myGallery" href="{% static 'images/portfolio/5.jpg' %}"><i class="fa fa-search-plus"></i></a></li>-->
                                        <!--<li><a href="portfolio-1.html#"><i class="fa fa-link"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- awesome-portfolio end -->
        {% endblock content %}
