	{% extends 'base.html' %}
	{% load static %}

	{% block content %}
		<!--Start Page Content -->
		<div class="service-page">
			<div class="service-heading">
				<div class="blog-overly"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="blog-title text-center">
								 <h2 class="breadcumb-header">Services</h2>
								 <ul class="page-head-menu">
									<li>Explore Our Services...</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Page Header -->
		<!--&lt;!&ndash; Start Service Area &ndash;&gt;-->
		<!--<div class="page-service-area area-padding ">-->
			<!--<div class="container">-->
			   <!--<div class="row">-->
					<!--<div class="col-lg-12 col-md-12 col-sm-12">-->
						<!--<div class="section-headline text-center">-->
							<!--<h3>About Services</h3>-->
							<!--<p>Salon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br/>  Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, .</p>-->
						<!--</div>-->
						<!--<div class="our-service-inner">-->
							<!--<div class="col-lg-6 col-md-6">-->
								<!--<div class="service-pic">-->
									<!--<img src="{% static 'images/service/service1.png' %}" alt="our image">-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-lg-6 col-md-6">-->
								<!--<div class="srvice-info">-->
									<!--<p>Codespot ltd. is an outsourcing, software, mobile applications and website design based in Ho Chi Minh city, Vietnam. We open job positions for talent and enthusiasm persons who could bring the best technologies and the most values to clients and community. At Codespot, not only you are working, you’re creative!</p>-->

									<!--<p>Codespot ltd. was founded by a group of passionate and experience programmers in technologies. Over three years, Codespot Company has built a good image with our partners and clients “Separate your website from the crowd “is our mission. We join to turn your ideas into reality. Outstanding Website, your business will stand out. You succeed, we succeed.”</p>-->

									<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. </p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>    -->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
        <!-- service area start -->
        <div class="service-single area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h3>Services Overview</h3>
                            <p>Explore the list of available beauty services which you can select while booking appointment</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well start-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="{% url 'single_service' 18 %}">
                                    <img src="{% static 'images/service/service1.jpg' %}" alt="">
                                    <h4 class="sec-head">Hair Cutting</h4>
                                </a>
                                <p>Hair cutting or hair trimming is intended to create or maintain a specific shape and form. There are ways to trim one's own hair but usually another person is enlisted to perform the process, as it is difficult to maintain symmetry while cutting hair at the back of one's head. Its extent may range from merely trimming the uneven ends of the hair to a uniform length to completely shaving the head.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="{% url 'single_service' 24 %}">
                                    <img src="{% static 'images/service/split_ends.jpg' %}" alt="">
                                    <h4 class="sec-head">Split End Repair </h4>
                                </a>
                                <p>With hair slightly damp, apply Split End Repairing solution, Split End Repairing Treatment is designed as an add-on service to repair damaged ends </p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="{% url 'single_service' 19 %}">
                                    <img src="{% static 'images/service/hair_cleanup.jpg' %}" alt="">
                                    <h4 class="sec-head">Clean Up</h4>
                                </a>
                                <p>A clean scalp will promote good cell turnover and promote a healthy environment for optimal hair growth. Just like anti-aging skin care, exfoliation of the scalp is important to remove dead skin cells from around the follicle and promote a healthy follicle.</p>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- single-well end -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="{% url 'single_service' 21 %}">
                                    <img src="{% static 'images/service/service3.jpg' %}" alt="">
                                    <h4 class="sec-head">Dry Cut</h4>
                                </a>
                                <p> if you cut it wet, you're not taking advantage of any waves or bends.” With it dry, the stylist can cut a shape that accounts for any little kinks or cowlicks, giving you more volume. Dry cutting also causes less damage to the hair, which allows you to go longer between haircuts.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="{% url 'single_service' 2 %}">
                                    <img src="{% static 'images/service/de_tan.jpg' %}" alt="">
                                    <h4 class="sec-head">De tan</h4>
                                </a>
                                <p>Tan Clean cleanser has 8 benefits in just 1 jar as it hydrates, nourishes, soothes, calms, heals, whitens, brightens and lightens the skin. The goodness of Mint and Eucalyptus Oil cleanses skin while providing instant brightening and lightening benefits.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="{% url 'single_service' 6 %}">
                                    <img src="{% static 'images/service/facial.jpg' %}" alt="">
                                    <h4 class="sec-head">Facial </h4>
                                </a>
                                <p>A facial is a family of skin care treatments for the face, including steam, exfoliation, extraction, creams, lotions, facial masks, peels, and massage.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end -->
                </div>
            </div>
        </div>
        <!-- service-area end -->
		<!-- Start Service Area -->
		<div class="service-area area-padding page-service">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Our Services</h3>
							<p>Online Salon Management System allows Client to view the list of available beauty services <br>and the client can add those services while booking appointment.</p>
						</div>
					</div>
				</div>
				<div class="row mar-table">
					<div class="col-lg-12 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
						<div class="service-right">
							<div class="cut-content head-team">
								<h4>Skin</h4>
							</div>
							<div class="service-images">
								<a href="service.html#"><img src="{% static 'images/service/service2.jpg' %}" alt=""></a>
								<!--<div class="overly-text">-->
									<!--<h4>follow our services</h4>-->
									<!--<a class="btn-service " href="service.html#">Read more</a>-->
								<!--</div>-->
							</div>
						</div> 
						<form action="service.html#">
							<div class="table-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Service</th>
											<th>Completion time</th>
											<th>price</th>
										</tr>
									</thead>
									<tbody>
										{% for service in skin_services %}
											<tr>
												<td><a href="{% url 'single_service' service.id %}">{{ service.name }}</a></td>
												<td><a href="{% url 'single_service' service.id %}">{{ service.completion_time }}</a></td>
												<td><a href="{% url 'single_service' service.id %}">{{ service.price }}</a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
					</div>
				</div>
				<!-- end row -->
				<div class="row mar-table hidden-xs">
					<div class="col-lg-12 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s"> 
						<form action="service.html#">
							<div class="table-content left-content table-responsive">
								<table class=" table table-striped">
									<thead>
										<tr>
											<th>Service</th>
											<th>Completion time</th>
											<th>price</th>
										</tr>
									</thead>
									<tbody>
										{% for service in hair_services %}
											<tr>
												<td><a href="{% url 'single_service' service.id %}">{{ service.name }}</a></td>
												<td><a href="{% url 'single_service' service.id %}">{{ service.completion_time }}</a></td>
												<td><a href="{% url 'single_service' service.id %}">{{ service.price }}</a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
						<!-- end table -->
						<div class="service-right">
						   <div class="cut-content head-team">
								<h4>Hair</h4>
							</div>
							<div class="service-images">
								<a href="service.html#"><img src="{% static 'images/service/service1.jpg' %}" alt=""></a>
								<!--<div class="overly-text">-->
									<!--<h4>follow our services</h4>-->
									<!--<a class="btn-service " href="service.html#">Read more</a>-->
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
		</div>
		<!-- End Service Area -->
	{% endblock content %}
